


<form class="validate add-form" novalidate="novalidate" style="width: auto">

	<div class="row">	
		<div class="col-md-12">
			<div class="form-group">
				<label for="field-2" class="control-label">订单号</label>
				<input type="text" class="form-control" name="sn" placeholder="订单号" value="SN{:date('Ymdhis',time())}{:rand(10000,99999)}">
			</div>	
		</div>
        <div class="col-md-12"> </div>
	</div>

    <div class="row">   
        <div class="col-md-4">
            <div class="form-group">
                <label for="field-2" class="control-label">制单人</label>
                <input type="text" class="form-control" name="author" placeholder="制单人" value="{$my_info->truename}">
            </div>  
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">
                    选择生成产品
                </label>
                <select class="form-control" name="product_id" onchange="changeProduct(this)" id="checkedProduct">
                    <option value="默认" >默认</option>
                    {volist name='product_finish' id='vo'}
                    <option value="{$vo.id}">{$vo.name}</option>
                    {/volist}
                </select>
            </div>
        </div>

    </div>


    <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <thead>
            <tr role="row">
                <th></th>
                <th class="sorting_disabled" rowspan="1" colspan="1">
                    产品名称
                </th>
                <th class="sorting_disabled" rowspan="1" colspan="1">
                    使用材料数
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr role="row" class="odd order-list">
            <td>
                <a href="javascript:void(0);" onclick="add_list(this)"> [ + ] </a>
            </td>
            <td>
                <select name="product[]" class="form-control" onchange="changeProduct(this)">
                    <option value="">请选择商品</option>
                    {volist name='product' id='vo'}
                    <option value="{$vo.id}_{$vo.sn}_{$vo.name}_{$vo.price}_{$vo.storage}_{$vo.unit}_{$vo.unit1}_{$vo.unit2}_{$vo.unit3}">{$vo.name}</option>
                    {/volist}
                </select>
            </td>
            <td><input type="text" class="form-control" value="" name="num[]"></td>
            <td>
                <a class="delete" href="javascript:void(0)" onclick="del_list(this)"> [ - ] </a>
            </td>
        </tr>
        </tbody>
    </table>


    <script>
        function changeProduct(obj){
            var a = $(obj).val();
            $(obj).parent().next().next().children('select').children().remove();
            strs=a.split("_");
            console.log(strs);
            var str = '';
            console.info(strs[5]);
            console.info(strs[6]);
            console.info(strs[7]);


            if(strs[5]){
                str = str + '<option value="'+strs[5]+'" >'+strs[5]+'</option>';
            }
            if(strs[6]){
                str =  str +'<option value="'+strs[6]+'" >'+strs[6]+'</option>';
            }
            if(strs[7]){
                str =  str +'<option value="'+strs[7]+'" >'+strs[7]+'</option>';
            }
            if(str){
                str =  str +'<option value="'+strs[4]+'" >'+strs[4]+'</option>';
            }

            $(obj).parent().next().next().children('select').append(str);
        }
    </script>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group no-margin">
				<label for="field-7" class="control-label">备注</label>
				<textarea class="form-control autogrow" name="desc" placeholder="备注" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
			</div>	
		</div>
	</div>

	
</form>






<script>

function add_list(obj){
    // $(obj).parent().parent().hide();
    $(obj).parent().parent().clone().appendTo( $(obj).parent().parent().parent() );
}

function del_list(obj){
    $(obj).parent().parent().remove();
}

</script>